<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Mar 2019 - Jun 2019</p>
            <div class="h5">City of Cape Town</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Mobile Software Engineer</div>
            <p>
              Developed comprehensive application for <strong>governmental departments</strong> to issue <strong>contraventions</strong>. Includes the ability to view associated warrants and Police clearance information.
            </p>
            <p>
              Application was developed in <strong>Ionic</strong> with multiple <strong>custom Cordova plugins</strong> - including a barcode scanning application with decryption for South African drivers licence
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Jan 2019 - Mar 2019</p>
            <div class="h5">Vinex</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Full Stack Developer</div>
            <p>
              Developed full stack solution for <strong>international trade</strong> of wine and grape
            </p>
            <p>
              Application was development in <strong>React</strong> with a <strong>Node.js</strong> backend and <strong>Postgres SQL</strong> database.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Jan 2018 - Dec 2018</p>
            <div class="h5">DevIT</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Full Stack Developer</div>
            <p>
              Developed full stack solution for <strong>managing trade</strong> of industrial materials.
            </p>
            <p>
              Application was developed in <strong>Angular</strong> with a <strong>Node.js</strong> backend and a <strong>MongoDB</strong> database.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>May 2013 - Dec 2018</p>
            <div class="h5">Master Power Technologies</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">R&D Electrical / Software Engineer</div>
            <div class="h6">Battery monitoring product</div>           
            <p> 
              Lead developer and architect on lead-acid battery monitoring product. Developed system to determine battery health, charge and condition using machine learning (<strong>neural networks</strong> and <strong>linear regression</strong>) and industry standard heuristics
            </p>
            <p> 
              Implemented battery testing platform (<strong>C#</strong> with <strong>SQL</strong> database) to run automated discharging and charging tests.
            </p>
            <p> 
              Battery monitoring system was developed on an <strong>embedded linux</strong> device in <strong>C</strong> with an <strong>SQLite</strong> database.
            </p>
            <p> 
              Algorithms were developed and tested in <strong>Matlab</strong> 
            </p>

            <div class="h6">Hybrid energy system design tool</div>    
            <p> 
              Architected and developed simulation to estimate the operation of <strong>hybrid energy systems</strong> (solar, wind, generator, power conversion equipment)
            </p>
            <p> 
              <strong>Genetic algorithm</strong> to optimize system components in hybrid energy solution
            </p>
            <p> 
              Tool was developed in <strong>Matlab</strong> and Excel
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>